<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="oye_modules" translate="label" sortOrder="9999990">
            <label>Oye Modules</label>
        </tab>
        <section id="delivery_date" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Delivery Date</label>
            <tab>oye_modules</tab>
            <resource>Oye_Deliverydate::config</resource>
            <group id="general" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="field_label" translate="label" type="text" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Delivery date field label</label>
                </field>
                <field id="exclude_weekdays" translate="label" type="multiselect" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude days of week from delivery</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Weekdays</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>
                <field id="min_delay" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Minimum delay, days</label>
                </field>
                <field id="max_delay" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Maximum delay, days</label>
                </field>
                <field id="disable_after_same_day_time" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable same day delivery (if available) after time</label>
                    <source_model>Oye\Deliverydate\Model\Config\Source\Time</source_model>
                    <can_be_empty>1</can_be_empty>
                    <comment><![CDATA[<a href="https:/google.com" target="_blank">Google</a>]]>
                    </comment>
                </field>
                <field id="disable_after_same_day_time" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Disable same day delivery (if available) after time</label>
                    <source_model>Oye\Deliverydate\Model\System\Config\Source\Time</source_model>
                    <can_be_empty>1</can_be_empty>
                </field>


                <!--
                                <field id="display_time" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                                    <label>Display time picker</label>
                                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                                </field>
                                <field id="min_timepicker_time" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                                    <label>Minimum time for timepicker</label>
                                    <source_model>Oye\Deliverydate\Model\Config\Source\Time</source_model>
                                    <can_be_empty>1</can_be_empty>
                                </field>
                                <field id="max_timepicker_time" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                                    <label>Maximum time for timepicker</label>
                                    <source_model>Oye\Deliverydate\Model\Config\Source\Time</source_model>
                                    <can_be_empty>1</can_be_empty>
                                </field>
                -->
                <field id="date_format" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Date format</label>
                    <comment><![CDATA[<a href="http://php.net/manual/en/function.date.php" target="_blank">Date format description</a>]]></comment>
                </field>
                <field id="holiday_grid_link" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude Delivery on Holidays</label>
                    <frontend_model>Oye\Deliverydate\Model\System\Config\HolidayGridLink</frontend_model>
                </field>
                <field id="display_area" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Area to display delivery date field</label>
                    <source_model>Oye\Deliverydate\Model\System\Config\Source\Area</source_model>
                </field>

                <!-- to-do need custom validation for shipping method form-->
<!--
                <field id="required" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Make Delivery Date a required field</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
-->

            </group>
        </section>
    </system>
</config>